

*{
    margin: 0;
    padding: 0;
}

.container{

    width: 1170px;
    margin: 0 auto;
    padding: 0 16px;
   
   
}

.row{
    margin: 0 -16px;
    display: flex;
    padding: 16px 0;
    flex-wrap: wrap;
   
}

.header{
    padding: 10px 0;
    display: flex;
    align-items: center;
    height: 40px;
    background-color: whitesmoke;
}
.header_div{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    width: 100%;
}

.header_logo{
 display: flex;
 align-items: center;
}
.header_nav{
    display: flex;
    align-items: center;
}

.header_nav ul{
    display: flex;
    align-items: center; 
}

.header_nav li{
    list-style: none;
    display: flex;
    font-size: 20px;
    font-weight: 600;
    margin-right: 2rem;
    color: #183B56;
    font-style: normal;
    align-items: center;    
}

.header_div a{
    text-decoration: none;
    color: #183B56;
}

.header_btn{
    display: flex;
    align-items: center;
}

.header_btn a{
    border: 1px solid #1565D8;
    padding: 0.5rem;
    margin-right: 0rem;
    width: max-content;
    border-radius: 8px;
}


/* css for section 1 */
.section1{
    margin-top: 3%;
}

.sec1{
    display: flex;
    justify-content: space-between;
}

.s1_head1{
    padding: 0 3rem;
    margin-top: 5rem;
}

.s1_head1 h1{
    
    font-size: 3rem;
    width: 72%;
    color: #183B56;
}

.s1_head1 p{
    margin-top: 3%;
    font-size: 1rem;
    width: 50%;
    color: #183B56;
}

.s1_btn{
    display: flex;
    align-items: center;
}

.s1_btn a{
    display: flex;
    text-decoration: none;
    border:1px solid  #183B56 ;
    background-color:  #183B56;
    color: aliceblue;
    border-radius: 5px;
    margin-top: 3%;
    padding: 0.7rem;
}

.s1_icon{
    margin-top: 4%;
    background-color: lightgray;
    width: 40px;
    height: 40px;
    display: flex;
    border-radius: 50px;
    align-items: center;
    padding: 0.5rem;
}

.s1_icon{
    justify-content: center;
}

/* css for section 2 */
.section2{
    margin-top: 5%;
}

.col2{
    width: calc(93%/2);
    padding: 0 1rem;

}

.sec2_content1 p{
    font-size: 3.5rem;
    color: #183B56;
}

.sec2_content2 p{
    font-size: 20px;
}


.col3{
    width: calc(85%/5);
    padding: 0 1rem;
}

/* css for section3 */

.section3{
    margin-top: 5%;
    background-color: whitesmoke;
}

.col4{
    width: calc(94%/2);
    padding: 0 1rem;
}

.col4 p{
    font-size: 2rem;
    font-weight: 800;
}

.col4 .p2{

    font-weight: 800;
}


/* css for section 4 */

.section4{
    background-color: whitesmoke;
}
.col5{
    width: calc(92%/3);
    padding: 1rem 1rem;
}

.card{

    display: flex;
    padding: 1rem 1rem;
    gap:20px;
    border: 1px solid black;
    background-color: white;
    box-shadow: 1px 1px 1px 5px lightgray;
}

/* css for section 6 */
.section6{
    margin-top: 5%;
}
.col6{
    width: calc(92%/3);
    padding: 1rem 1rem;
}

.sec6_card{
    border: 1px solid;
    border-radius: 8px;
}

.sec6_img{
    width:100%;
}

.sec6_content{
    margin-top: 15%;
    padding-bottom: 1rem;
}

.sec6_content a{
    text-decoration: none;
    font-size: 20px;
}

/* css for section 7 */

.section7{
    margin-top: 5%;
}

.col7{
    width: calc(92%/2);
    padding: 1rem 1rem;
}

.sec7_user{
    display: flex;
    gap: 20px;
}

.sec7_card{
    padding:1rem 1rem;
    border: 1px solid;
    border-radius: 8px;
}

.sec7_content p{
    margin-top: 2%;
    color: rgb(50, 48, 48);
    font-size: 1.4rem;
}

/* css for section8 */
.section8{
    margin-top: 5%;
}

.col8{
    width: calc(100%/4);
    padding: 1rem 0;
}

.sec8_card{
    padding: 1rem 0;
}

/* css for section9 */

.section9{
    margin-top: 5%;
    background-color: aqua;
}

.sec9_data1{
    padding: 1rem 1rem;
    text-align: center;
}

.sec9_data1 h1{
    color: aliceblue;
    font-size: 3rem;
}

.sec9_data2{
    padding: 1rem 1rem;
    text-align: center;
}

.sec9_data2 p{
    color: aliceblue;
    font-size: 1.4rem;
}

.sec9_btn{
    display: flex;
    justify-content: center;
}

.sec9_btn a{
    display: flex;
    text-decoration: none;
    border:1px solid  #183B56 ;
    background-color:  white;
    font-weight: 900;
    color: #183B56;
    border-radius: 5px;
    margin-top: 3%;
    padding: 0.7rem;
}

/* css for footer */
.footer{
    
    background-color: #183B56;
    padding-top: 5rem;
}
.footerCard{
    margin: 10px 16px;
    

}

.text{
    
    color: #b1bccc;
    font-size: 20px;
    
}

.socialmedia{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;

}
.socialmedia img{
    width: 20px;
    height: 20px;
}

.footerCard label{
    font-size: 24px;
    font-weight: 700;
    color: #5A7184;
}

.footerCard a{
    color: whitesmoke;
    font-size: 20px;
    font-weight: 400;
    
}
.footerCard li{
    margin-top: 1.5rem;
}
.copyright{
    text-align: center;
    margin-top: 3rem;
}
.heart{
    color: white;
    background-color:#1565D8;
    display:inline-block;
    padding: 1rem;
    border-radius: 50%;
    

}
